@font-face {
  font-family: "NotoSansKR-Regular";
  src: url("./fonts/NotoSansKR-Regular.otf");
}
@font-face {
  font-family: "NotoSansKR-Medium";
  src: url("./fonts/NotoSansKR-Medium.otf");
}
@font-face {
  font-family: "NotoSansKR-Bold";
  src: url("./fonts/NotoSansKR-Bold.otf");
}
@font-face {
  font-family: "NotoSansKR-Light";
  src: url("./fonts/NotoSansKR-Light.otf");
}

/*  나눔스퀘어 폰트 */
@font-face {
  font-family: "NanumSquareR";
  src: url("./fonts/Nanumsquare/NanumSquare_acR.ttf");
}
@font-face {
  font-family: "NanumSquareEB";
  src: url("./fonts/Nanumsquare/NanumSquare_acEB.ttf");
}
@font-face {
  font-family: "NanumSquareB";
  src: url("./fonts/Nanumsquare/NanumSquare_acB.ttf");
}
@font-face {
  font-family: "NanumSquareL";
  src: url("./fonts/Nanumsquare/NanumSquare_acL.ttf");
}

/*  DS-digital 폰트 */
@font-face {
  font-family: "DS-Digital";
  src: url("./fonts/DS-digital/DS-DIGI.TTF");
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100vh;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

#root {
  width: 100%;
  height: 100%;
}
